<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About Us</title>
        <link rel="stylesheet" type="text/css" href="../public/css/about.css">
    </head>
    <body>
        <nav id="navbar" class="navbar_style">
            <button><img class="menubar_icon" src="../public/images/menu_white_icon.png"></button>
        </nav>
        <main>
            <div class="body">
                <div class="title">
                    <h1>About Us</h1>
                    <img class="titleImg" src="../public/images/green_zombie.png">
                </div> 
                <div class="rectangleContent">
                    <b><p>We aim to help our users track and take better
                        care of their plants in home. 
                    </p>
                    <p>On this website, you can group your plants, 
                        give them nicknames and record the watering, 
                        sunshine and other features. </p>
                    </b>
                </div>
            </div>
        </main>
    </body>
</html> 