<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Contact Us</title>
        <link rel="stylesheet" type="text/css" href="../public/css/about.css">
    </head>
    <body>
        <nav id="navbar" class="navbar_style">
            <button><img class="menubar_icon" src="../public/images/menu_white_icon.png"></button>
        </nav>
        <main>
            <div class="body">
                <div class="title">
                    <h1>Contact Us</h1>
                    </div>
                    <div class="rectangle">
                        
                    </div> 
                    <div class="contentBox">
                        <div class="content">
                            <p>Feel free to contact us and give us any feedback or advice.</p>
                            <h3>Email</h3>
                            <p>team@PvZ.com</h3>
                            <h3>Facebook & Instagram</h3>
                            <p>@PvZ</p>
                            <h3>Contact Number</h3>
                            <p class="last_line">+61 452123456</p> 
                        </div>
                        <div class="img">
                            <img class="zombieImg"
                            src="../public/images/zombie.png">
                        </div>
                    </div>
            </div>
        </main>
    </body>
</html> 