body {
    background: url("../images/leaves_yellow.png"), #E2ECC6;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow-y: scroll;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar_style {
    margin-left: 5%;
    margin-top: 5%;
}

button {
    border: none;
    background: none;
}

main h1 {
    font-family: Tamil MN;
    font-size: 3em;
    color: #FFFFFF;
    margin-top: 5%;
    margin-left: 5%;
    text-shadow: 3px 3px #44533B;
    display: inline-block;
}

main h3 {
    font-family: Tamil MN;
    font-size: 1.5em;
    color: #555b6e;
    margin-top: 5%;
    margin-left: 2%;
}

main p {
    font-family: Tamil MN;
    color: #555b6e;
    font-size: 1.5em;
    margin-left: 2%;
}

#last_line {
    font-family: Tamil MN;
    color: #555b6e;
    margin-left: 2%;
}

.rectangle {
    border-radius: 25px;
    /* margin-left: 5%;
    margin-right: 5%;
    padding-top: 15%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 15%; */
    background-color: #BACB94;
    /* align-items: flex-start; */
    /* word-wrap: break-word; */
    /* position: absolute; */
    height: 35rem;
    width: auto;
    margin:1.5rem ;
    z-index: 1;
}

.rectangleContent {
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 37vh; 
    background-color: #BACB94;
    word-wrap: break-word;
}

.contentBox {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    top: 0;
    overflow: hidden;

}
.content {
    margin-top: 12rem;
    width: auto;
    overflow: hidden;
    word-break: break-word;
    position: absolute;
    z-index: 100;
    padding: 0 2rem;
}

.img {
    position: absolute;
    width: auto;
    height: fit-content;
    bottom: 0;
    margin-bottom: -1.75rem;
}

.zombieImg {
    width: 100%;
}

.titleImg {
    width: 20%;
    height: auto;
}

