@media screen and (min-width: 350px) {
    .group_name {
        display: flex;
        height: 50px;
        margin: 0;
    }

    .group_name h5 {
        display: block;
        font-family: 'Architects Daughter', cursive;
        color: #44533B;
        font-size: 40px;
        margin-left: 8%;
        margin-top: 10px;
    }

    .bg {
        background-color: #BACB94;
        border-radius: 20px;
        margin: 6% 5%;
        margin-top: 10px;
        padding-bottom: 100%;
    }
    
    .plant {
        position: relative;
        margin: auto 5%;
    }

    .plant a {
        font-family: "Devanagari MT";
        color: #555A6E;
        margin-left: 10%;
        font-size: 18px;
    }

    .plant a2 {
        font-family: "Devanagari MT";
        color: #768457;
        font-weight:bold;
        margin-left: 5%;
        font-size: 15px;
    }

    .plant b {
        font-family: "Devanagari MT";
        color: #555A6E;
        font-weight:lighter;
        margin-left: 4%;
        margin-right: 2%;
        font-size: 18px;
    }
}