@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.profileTitle {
    font-family: 'Architects Daughter', cursive;
    font-size: 12vw;
    color: #44533B;
    margin-top: 8%;
    margin-left: 5%;
    margin-bottom: 5%;
    display: inline-block;
}

.editButton {
    background: #FFFFFF;
    margin-top: 7%;
    margin-bottom: 30%;
    border-radius: 30px;
    border: #FFFFFF;
    height: 7vh;
    width: 80vw;
    font-size: 3vh;
    font-family: "Times New Roman";
    font-weight: 900;
    color: #44533B;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="blocked"] {    
    background-color :#44533B;
    border:0px;
    border-bottom:1px solid #ccc;
    color: #FFFFFF;
}

