@import url(//db.onlinewebfonts.com/c/8914c48bb6cbcf51c389da71e776340d?family=BM+HANNA+11yrs+old);

.profileTitle {
    font-family: 'BM HANNA 11yrs old', cursive;
    font-weight: 300;
    font-size: 12vw;
    color: #44533B;
    margin-top: 8%;
    margin-left: 5%;
    margin-bottom: 5%;
    display: inline-block;
}

.editButton {
    background: #788E6C;
    margin-top: 7%;
    margin-bottom: 8%;
    border-radius: 30px;
    border: #FFFFFF;
    height: 7vh;
    width: 80vw;
    font-size: 3vh;
    font-family: "Times New Roman";
    font-weight: 900;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
}

.submitButton {
    background: #FFFFFF;
    margin-top: 7%;
    margin-bottom: 8%;
    border-radius: 30px;
    border: #FFFFFF;
    height: 7vh;
    width: 80vw;
    font-size: 3vh;
    font-family: "Times New Roman";
    font-weight: 900;
    color: #44533B;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="blocked"] {    
    background-color :#788E6C;
    border:0px;
    border-bottom:1px solid #ccc;
    color: #FFFFFF;
}

.valueDiv {
    font-family: 'BM HANNA 11yrs old', cursive;
    font-weight: 300;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 3%;
    padding-left: 3%;
}

.valueBlock {
    border-radius: 30px;
    border: #FFFFFF;
    height: 7vh;
    width: 80vw;
    font-weight: 600;
}

.valueTitle {
    padding-left: 5%;
    font-size: 3vh;
    color: #44533B;
}

.tipsBox{
    position: absolute;
    width: 90%;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    z-index: 1000;
}