body{
    background: url("../assets/images/leaves_green.png"), #E2ECC6;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow-y: scroll;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}  

header h1 {
    font-family: "BM Hanna 11yrs Old";
    font-size: 3em;
    color: #FFFFFF;
    margin-top: 12%;
    margin-left: 5%;
    display: inline-block;
}
    