@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

.settingButtonDiv {
    height: 7vh;
    width: 80vw;
    margin-top: 5vh;
    margin-left: 5vw;
    background-color: #FFFFFF;
    border-radius: 35px;
    font-family: "Times New Roman";
    font-size: 5vw;
    font-weight: 600;
    padding-left: 7vw;
    padding-right: 1vw;
    padding-top: 2vh;
    color: #555A6E;
}

.cancelAccount {
    height: 2.5vh;
}

.switchButton {
    margin-left: 20vw;
}

.rightArrowIcon {
    margin-left: 10vw;
}

.logoutButton {
    height: 8vh;
    width: 90vw;
    background-color: #44533B;
    color: #FFFFFF;
    font-size: 3vh;
    font-weight: 800;
    font-family: "Times New Roman";
    text-align: center;
    border-radius: 30px;
    padding-top: 2.5vh;
}

.rankingContentDiv {
    height: 72vh;
    width: 100vw;
    position: relative;
}

.rankingContentRec {
    height: 69vh;
    width: 90vw;
    margin-left: 5vw;
    background-color: #BACB94;
    border-radius: 25px;
    margin-top: 8vh;
    padding-top: 5vh;
    overflow-y: scroll;
}

.rankingTitle {
    font-size: 12vw;
    font-family: 'Peralta', cursive;
    font-weight: 300;
    text-shadow: 3px 3px #FFFFFF;
    color: #44533B;
    position: absolute;
    z-index: 2;
    margin-left: 5vw;
    margin-top: -9vh;
}

.thanksMSG {
    font-family: "Tamil MN";
    color: #44533B;
    font-size: 7vw;
    margin-left: 8vw;
    margin-top: 2vh;
}

.plantIcon {
    height: 16vw;
    width: 16vw;
    margin-top: 1.5vh;
    margin-left: 3vw;
}

.userAvatar {
    height: 7vh;
    width: 7vh;
    margin-left: 1vw;
}

.rankingIcon {
    height: 4vh;
    width: 4vh;
    margin-left: 10vw;
    margin-top: 2vh;
}

.rankingContent1 {
    font-family: "Times New Roman";
    font-size: 4vw;
    color: #44533B;
    font-weight: 600;
    margin-top: 1vh;
    margin-left: 3vw;
}

.rankingContent2 {
    font-family: "Times New Roman";
    font-size: 4vw;
    color: #44533B;
    font-weight: 600;
    margin-left: 3vw;
}

.blankSpace {
    height: 2vh;
    width: 100vw;
}

.rankingNum {
    font-family: "Times New Roman";
    font-size: 6vw;
    font-weight: 700;
    color: #44533B;
    margin-top: 2vh;
    margin-left: 12vw;
}

.selfRanking {
    height: 10vh;
    width: 80vw;
    margin-top: 1vh;
    margin-left: 5vw;
    background-color: #44533B;
    border-radius: 25px;
    overflow-y: scroll;
}

.userRankingNum {
    font-family: "Times New Roman";
    font-size: 6vw;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 3.5vh;
    margin-left: 5vw;
}

.userRankingAvatar {
    height: 7vh;
    width: 7vh;
    margin-left: -2vw;
    margin-top: 1.5vh;
}

.userRankingContent1 {
    font-family: "Times New Roman";
    font-size: 4vw;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 2.5vh;
    margin-left: 3vw;
}

.userRankingContent2 {
    font-family: "Times New Roman";
    font-size: 4vw;
    color: #FFFFFF;
    font-weight: 600;
    margin-left: 3vw;
}