body .signIn {
    background: url("../assets/images/leaves_green.png"), #E2ECC6;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow-y: scroll;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}  

header h1 {
    font-family: "BM Hanna 11yrs Old";
    font-size: 3em;
    color: #FFFFFF;
    margin-top: 12%;
    margin-left: 5%;
    display: inline-block;
}

.infoDiv {
    height: 30vh;
    margin-top: 20%;
    text-align: center;
    align-items: center;
}

ul {
    padding: 0;
}

.signInInputBlock {
    margin-top: 7%;
    margin-bottom: 3%;
    border-radius: 30px;
    border: #FFFFFF;
    height: 7vh;
    width: 60vw;
    /* margin: auto; */
}

.signUpInputBlock {
    margin-top: 7%;
    border-radius: 30px;
    border: #FFFFFF;
    height: 7vh;
    width: 80vw;
}

::placeholder {
    color: #555A6E;
    font-size: 1.7em;
    font-family: "Times New Roman";
    padding-top: 10%;
    padding-left: 10%;
}

.signInButton {
    background: #FFFFFF;
    margin-top: 7%;
    margin-bottom: 30%;
    border-radius: 30px;
    border: #FFFFFF;
    height: 7vh;
    width: 60vw;
    font-size: 1.8em;
    font-family: "Times New Roman";
    font-weight: 900;
    color: #44533B;
}

.signUpButton {
    background: #FFFFFF;
    margin-top: 7%;
    margin-bottom: 8%;
    border-radius: 30px;
    border: #FFFFFF;
    height: 7vh;
    width: 80vw;
    font-size: 1.8em;
    font-family: "Times New Roman";
    font-weight: 900;
    color: #44533B;
}

li b {
    display: block;
    width: 80vw;
    font-family: "Tamil MN";
    font-size: 1.2em;
    font-weight: 300;
    color: #44533B;
    text-align: center;
    margin: auto;
}

li c {
    display: block;
    width: 80vw;
    height: 12vh;
    font-family: "Tamil MN";
    font-size: 0.8em;
    font-weight: 300;
    color: #44533B;
    text-align: center;
    margin: auto;
    margin-bottom: 20%;
}



    