body {
    background: #E2ECC6;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

.welcomeText {
    color: #788E6C;
    font-family: "Tamil MN";
    font-size: 9vw;
    margin-top: 35%;
    text-align: center;
}

.title {
    color: #44533B;
    font-family: "Tamil MN";
    font-size: 10vh;
    text-align: center;
    margin-top: 0%;
    font-weight: bold;
}

.titleDiv {
    height: 35vh;
    align-items: center;
}

.signButton {
    background: #FFFFFF;
    border-radius: 28px;
    font-size: 1.8vh;
    font-family: "Times New Roman";
    font-weight: 800;
    color: #44533B;
    height: 8vh;
    width: 70vw;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 17%;
    margin-top: 8%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aboutText {
    font-family: "Tamil MN";
    font-size: 2vh;
    font-weight: 600;
    color: #555A6E;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0%;
    margin-left: 15%;
    margin-right: 15%;
}

ul {
    list-style-type: none;
}

li a {
    display: block;
    width: 150px;
    margin: auto;
    font-family: "Tamil MN";
    font-size: 1.2vh;
    font-weight: 600;
    color: #555A6E;
}

.logoStyle {
    width: 20vh;
    height: 10vh;
    margin-bottom: 25vh;
}