<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About Us</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href="/pvsz/public/css/about.css" />
    </head>
    <body>

        <main>
            <div class="left_column about_us">
                <h2>What is our Purpose?</h2>
                <h1>We <span>Protect</span> Your Health</h1>
                <div class="body_text">
                    <p>We are aiming to let diabetics in Victoria store their health data and get medical feedback easily. </p>
                    <p>In this page you can learn more about who we are and what we do. </p>
                </div>
                <p class="note">Note: You need to log in to explore all the features in the website.</p>
                <button class="try_button">Try Now</button>
            </div>
            <div class="right_column about_us">
                <div class="upper_row">
                    <h1>Who we are</h1>
                    <hr/>
                    <h2>WE ARE BUG PRODUCER!!!</h2>
                    <div id="team">
                        <h3>Our Team</h3>
                        <div class="important">
                            <p>Zheng Li </p> 
                            <p>Lujia Yang </p>
                            <p>Jiayi Wu </p>
                            <p>Bowen Yu </p>
                            <p>Wuge Liu </p>
                    </div>
                    
                    <h3>Contact Us</h3>
                    <p>Feel free to contact us and give us any feedback or advice. </p>
                    <div id="other_contact">
                        <p><b>Email: </b>123456@diabetesAtHome.com</p>
                        <p><b>Facebook: </b>Diabetes@Home</p>
                        <p><b>Instagram: </b>Diabetes@Home</p>
                        <p><b>Number: </b>+61 460204023</p>
                    </div>
                    <div id="phone_contact">
                        <div class="line">
                            <p><b>Email: </b></p>
                            <p>123456@diabetesAtHome.com</p>
                        </div>
                        <div class="line">
                            <p><b>Facebook: </b></p>
                            <p>Diabetes@Home</p>
                        </div>
                        <div class="line">
                            <p><b>Instagram: </b></p>
                            <p>Diabetes@Home</p>
                        </div>
                        <div class="line">
                            <p><b>Number: </b></p>
                            <p>+61 460204023</p>
                        </div>
                    </div>
                </div>
                <div class="lower_row">
                    <h1>What we do</h1>
                    <hr/>
                    <p>Compared with other health apps and websites, <b>Diabetes@Home</b> focus on serving the diabetics. </p>
                    <p>Our patients could record and review their daily health data anytime and anyplace. Meanwhile, they will receive professional feedback from the certified clinicians. </p>
                </div>
                <div class="phone_ver">
                    <p class="note">Note: You need to log in to explore all the features in the website.</p>
                    <button class="try_button">Try Now</button>
                </div>
            </div>
        </main>
    </body>
</html> 